#contents
    .side-content
        .side-header
            .side-header-username 
                = current_user.name 
            %ul.side-header-usermenu
                %li.list
                    = link_to new_group_path do
                        %i.fa.fa-pencil-square-o.icon
                %li.list
                    = link_to edit_user_path(current_user) do
                        %i.fa.fa-cog.icon
        .groups
            .group
                - current_user.groups.each do |group| 
                    = link_to group_messages_path(group) do
                        .group-name
                            = group.name
                        .group-message
                            = group.show_last_message
    .main-content
        .main-header
            .main-header-group
                .main-header-group-name 
                    %h2
                        = @group.name
                %ul.group-member
                    Members : 
                    %li.member
                        - @group.users.each do |user|
                            = user.name
            %a
                .edit
                    Edit
        .messages
            = render @messages
        .form
            = form_for [@group, @message] do |f|
                .input-box
                    = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
                    = label :image, class: 'image-lable' do
                        = fa_icon 'picture-o', class: 'picture'
                        = f.file_field :image, class: 'hidden'
                    = f.submit 'Send', class: 'input-submit'
